# Production environment — serverda /var/www/tcall/.env ga nusxalang
NODE_ENV=production
PORT=3010
HOSTNAME=0.0.0.0

DATABASE_URL="file:./prod.db"
JWT_SECRET=CHANGE-THIS-TO-RANDOM-64-CHAR-STRING

NEXT_PUBLIC_APP_URL=https://tcall.vizara.uz
NEXT_PUBLIC_API_URL=https://tcallapi.vizara.uz
COOKIE_DOMAIN=.vizara.uz

OPENAI_API_KEY=your-openai-key
OPENAI_MODEL=gpt-4o-mini
OPENAI_TTS_VOICE=nova
